# Spam email detection using naive bayes algorithm

### Import libraries and datasets

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [2]:
df = pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

### Data exploration

In [3]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
df.columns[df.isna().any()]

Index([], dtype='object')

No columns contain null values so need for data cleaning

### Split train and test data

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### Create and train model

In [8]:
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

### Accuracy

In [9]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9842067480258435

### Predictions

In [10]:
email = [
    'Hey mohan, can we get together to watch footbal game tomorrow?'
]
email_count = v.transform(email)
model.predict(email_count)[0]

0

In [11]:
email = [
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
email_count = v.transform(email)
model.predict(email_count)[0]

1